<div class="main-page">
    <form action="/artist-search" method="GET">
        <h1>Express Spotify</h1>
        <input type="text" name="artistname" id="">
        <button type="submit">Search for an Artist</button>
    </form>
</div>
