<h1 class="heading">Tracks</h1>
{{#each tracks}}
<div class="tracks-section">
    <h2>{{this.name}}</h2>
    <audio controls>
        <source src="{{this.preview_url}}" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>
</div>
{{/each}}